/* @media screen and (max-width: 2560px) { */
body{
  background-color: black;
  box-sizing: border-box;
  padding: 10px;
  margin: 0;
  text-align:center;
}
header{
  box-sizing: border-box;
  display: flex;
  overflow:hidden;
  background-image: url("../photos/rock.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 72px;
  background-color: #000;
  opacity: 80%;
  padding:0;
}
ul li {
  display: inline;
  margin-left:5px;
}
ul li a img{
  margin-top: 0;
  border-radius: 50%;
  border:4px solid green;

}
h1{
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  background-color:green;
  opacity:50%;
}

main#level2{
  background-color: #000;
  /* opacity: 20%; */
  background-image: url("../photos/irina.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  border-bottom: 2px solid gray;
  width: 100%;
  height:50vh;

}

div#put2{
  box-sizing: border-box;
  text-align: left;
  opacity: 50%!important;
  background:red;
  width:90vw;
  height:70px;
  border:4px solid white;
  border-radius: 10px;
  float:left;
  margin-top: 20px;
  padding: 12px;
  margin-left: 50px;
  margin-right: auto;
}
div#put2:hover{
  border:4px solid green;
}
div#put2 span{
  font-size: 30px;
  padding: 3px;
  margin:3px;
  border-radius: 3px;
  opacity: 100%!important;
}
span{
  padding:0 40px 0 40px;
  font-size: 78px;
  font-weight: bold;
  background-color: #111;
  border-radius: 10px;
  margin: 0;
}
span.draged{
  font-size: 50px;
}

footer#level2{
  background-image: url("../photos/rock.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  opacity: 50%;
  text-align: center;
  width: 100%;
  height: 190px;
  bottom: 0;
}

/* end of max media */
/* } */
/* @media screen and (min-width: 412px) {
  main#index{
    width: 100%;
    height: 1000px;
    font-size: 70px;
    padding-top: 900px;

  }
  header{
    display: -webkit-flex;
    display: flex;
    overflow: scroll;
    height: 95px;
    padding-top: 0;


  }
a img{
  width:77px;
  margin-top: 0;
}
div#put{
  margin-top: 990px;
}
main#level1{
  height:1435px;
}
footer#level1{
  height:587px;
  font-size: 70px;
}
div.zakhira span{
  font-size:170px;
}
main#level2{
  height:1435px;
}
div#put2{
  height: 170px;
  margin-top: 990px;
}
footer#level2{
  height:587px;
  font-size: 40px;
}
div.zakhira2 span{
font-size:90px;
}

} */
